body {
    text-align: center;
    background-color: #ed1212;
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
    margin: 0 auto;
}

.winner {
    color: rgb(0, 47, 255);
    
}

#p1Display, #p2Display, #winningScoreDisplay{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 10px;
    text-transform: uppercase;
}

.box {
    border: 10px solid black;
    padding: 20px 10px;
    margin: 50px 20px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}